a {
    margin: 5px;
    padding: 5px;
    background-color: antiquewhite;
}

nav a.active {
    color: red;
}

span {
    margin: 2px;
    background-color: black;
    color: white;
    padding: 6px;
    cursor: pointer;
}